footer {
    color: rgb(12, 10, 10);
    background: #f2f2f2;
    text-align: center;
  }
  .footer-heart{
      text-align:right;
      font-family: open sans, sans-serif;
      margin-right: 10px;
    }
  
  .emoji{
      vertical-align: middle;
    }